.yoolk-carousel {
    width: 994px;
    position: relative;
    background-color: white;
    height: 340px;
    margin: 70px 0;
    overflow: hidden;
}

.yoolk-carousel .wrapper {
    background-color: white;
    border: 14px solid white;
    height: 328px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 966px;
}

.yoolk-carousel ul {
    left: -525px;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 9999px;
}

.yoolk-carousel ul li {
    display: block;
    float: left;
    height: 312px;
    padding: 0 7px;
    width: 658px;
}

.yoolk-carousel a img {
    display:block;
    border: none;
}

.yoolk-carousel .arrow {
    display: block;
    height: 44px;
    width: 24px;
    text-indent: -999px;
    position: absolute;
    top: 145px;
    cursor: pointer;
}

.yoolk-carousel .forward {
/*@include carousel-sprite(gray-arrow-right);*/
    right: 0;
}

.yoolk-carousel .back-navigator:hover {
    cursor: pointer;
}

.yoolk-carousel .back {
    background-image: url(../images/black_arrow.png);
    background-position: 0 -108px;
    left: 0;
}

.yoolk-carousel .cover {
    opacity: 0.3;
    /*@include opacity(0.3);*/
}

.yoolk-carousel .forward-navigator:hover {
    cursor: pointer;
}

.yoolk-carousel .forward {
    background-image: url(../images/black_arrow.png);
/*@include carousel-sprite(black-arrow-right);*/
}

.yoolk-carousel .cover {
    opacity: 0.3;
/*@include opacity(0.3);*/
}


.yoolk-carousel .cover {
/*@include opacity(0.7);*/
    opacity: 0.7;
    background: #000;
    display: block;
    height: 312px;
    position: absolute;
    top: 14px;
    width: 140px;
}

.yoolk-carousel .cover-left {
    left: 14px;
    /*left: $gridGutterWidth;*/
}

.yoolk-carousel .cover-right {
    right: 14px;
    /*right: $gridGutterWidth;*/
}